// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table,
tr,
td {
    border: 1px solid;
    box-shadow: 2px 4px 5px 3px;
    padding: 3px;
    margin: 4px;
    text-align: center;
}

a:hover {
    color: red;
}

.img-thumbnail {
    width: 100%;
    height: 450px;
}

h2 {
    color: red;
    text-align: center;
    font-weight: bolder;
}

p {
    font-size: 23px;
}

.user_id {
    display: none;
}

.format {
    float: left;
    width: 50%;
}

.inf {
    padding-left: 7%;
    padding-right: 7%;
}

#format_content {
    margin-top: -125px;
    background: wheat;
    z-index: 100;
    position: relative;
    height: 94px;
    width: 96%;
    margin-left: 10px;
    margin-right: 4px;
}