<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/slideshow.scss">
<script src="/assets/main.js"></script> 
<div id='slide'>
<div id="wrapper_bu">
<div id="bu1"><img  class="anh" src="/assets/dowload2.jpg"><p class="txt_Center txt_h1"></p></div>
<div id="bu2"><img class="anh" src="/assets/dowload3.jpg"><p class="txt_Center txt_h1"></p></div>
<div id="bu3"><img class="anh" src="/assets/dowload4.jpg"><p class="txt_Center txt_h1"></p></div>
<div id="bu4"><img class="anh" src="/assets/dowload5.jpg"><p class="txt_Center txt_h1"></p></div>
<div id="bu5"><img class="anh" src="/assets/dowload6.jpg"><p class="txt_Center txt_h1"></p></div>


</div>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36251023-1']);
_gaq.push(['_setDomainName', 'jqueryscript.net']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</div>